<div class="page-header"><h1><center>User Registrations</center></h1></div>

<form ng-submit="register.registerUser(regData);">
    <label>Names: </label>
    <input class="form-control" type="text" name="names" placeholder="Names" ng-model="register.regData.names">
    <br>
    <label>Email: </label>
    <input class="form-control" type="text" name="email" placeholder="Email" ng-model="register.regData.email">
    <br>
    <label>Password: </label>
    <input class="form-control" type="password" name="password" placeholder="Password" ng-model="register.regData.password">
    <br>
    <button class="btn btn-primary" type="submit" name="register">Register</button>
</form>

<br>

<div class="jumbotron text-center" ng-show="register.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading....</p>
</div>
<br>

<div class="row show-hide-message" ng-show="register.successMessage">
    <div class="alert alert-success">{{ register.successMessage}}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="register.errorMessage">
    <div class="alert alert-danger">{{register.errorMessage}}</div>
</div>